@page "/medicos/create"
@rendermode InteractiveServer
@using BlazorComponent.Components.Pages.Headers
@inject MedicoService _medicoService
@inject NavigationManager _navigation

<CustomHeader>Novo Médico</CustomHeader>

<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @* <div class="mb-3">
        <label for="ID" class="form-label">ID</label>
        <InputNumber id="ID" class="form-control" @bind-Value="Model.Id" placeholder="Digite o id" />
        <ValidationMessage For="@(() => Model.Id)" />
    </div> *@

    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <InputText id="Nome" class="form-control" @bind-Value="Model.Name" placeholder="Digite o Nome" />
        <ValidationMessage For="@(() => Model.Name)" />
    </div>

    <div class="mb-3">
        <label for="CRM" class="form-label">CRM</label>
        <InputText id="CRM" class="form-control" @bind-Value="Model.CRM" placeholder="Digite o CRM"/>
        <ValidationMessage For="@(() => Model.CRM)" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</EditForm>

@code {
    public Medico Model { get; set; } = new Medico();

    private async Task OnSubmit()
    {
        await _medicoService.AddMedicoAsync(Model);
        _navigation.NavigateTo("/medicos");
    }
}
